<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Advanced Web Track First Project</title>
</head>

<body>

    <header class="header">
        <a href="/" class="header__logo">LOGO</a>
    </header>

    <main>
        <section class="form-wrapper">
            <form class="form" id="form">
                <h1 class="form__title">What is Sentiment Analysis?</h1>
                <p class="form__desc">Sentiment Analysis is MeaningCloud's solution for performing a detailed
                    multilingual sentiment
                    analysis of texts from different sources.</p>
                <input id="form-url" type="text" name="url" class="form__input" placeholder="Please Enter A URL">
                <span class="error-feedback">Please enter a valid url</span>
                <br>
                <button class="btn" id="submit-btn">SUBMIT</button>
            </form>
        </section>


        <section class="form-result" id="form-result">
            <h3>Form Results:</h3>
            <table class="table">
            </table>

            <button class="btn" id="back-btn">Back</button>
        </section>
    </main>

    <footer class="footer">
        <p>2020 &copy; All Rights Reserved</p>
    </footer>


    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
       </script>
</body>

</html>