.form {
    text-align: center;
    &__title {
        text-transform: uppercase;
    }
    &__desc {
        font-size: 15px;
        margin: 15px 0 25px;
        opacity: .8;
        line-height: 1.7;
    }

    &__input {
        outline: none;
        font-size: 15px;
        padding: 15px 18px;
        width: 100%;
        margin: auto;
        border: 2px solid $grayColor;
        transition: all .3s;
        &:focus {
            border-color: $mainColor;
        }
    }

    .error-feedback {
        color: rgb(184, 86, 86);
        text-align: initial;
        display: none;
        font-size: 14px;
        margin-top: 10px;
    }
}

